{
  "log": {
    "_recordingName": "configure-action tests/fails properly with an unknown tag name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "68e6413ddfbccd07945fae79ede833b4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Api-Key x"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "name",
              "value": "cloudtruth/configure-action"
            }
          ],
          "url": "https://api.staging.cloudtruth.io/api/v1/projects/?name=cloudtruth%2Fconfigure-action"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 512,
            "text": {
              "count": 1,
              "next": null,
              "previous": null,
              "results": [
                {
                  "access_controlled": false,
                  "created_at": "2024-06-04T18:11:56.025576Z",
                  "dependents": [],
                  "depends_on": null,
                  "description": "",
                  "id": "c50db8d7-901f-429e-856b-ee50a08dc08d",
                  "ledger_id": "16335396-f6f8-4774-a9ac-70cd4b9a48eb",
                  "modified_at": "2024-06-04T18:11:56.043087Z",
                  "name": "cloudtruth/configure-action",
                  "parameter_name_pattern": "",
                  "push_urls": [],
                  "pushes": [],
                  "role": null,
                  "url": "https://api.staging.cloudtruth.io/api/v1/projects/c50db8d7-901f-429e-856b-ee50a08dc08d/"
                }
              ]
            }
          },
            {
              "expires": {},
              "name": "AWSALBTGCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "uINcdiM9r0ddNg9Gwz2mGz0OCfpXlbQxYl+FrQki9EMSEeOqWkN/SYKLS9zNtMk5tUrKBwiRvIsduxNz80MJiJB9PT8ZH4WWDQBD8CISjIG9yewyIz7O5PXtgCwpm4MHEc/4BcTw3gw1ToAKlIcpYwKXbYOvL3YvA0zKoe8paDqn"
            },
            {
              "expires": {},
              "maxAge": 31449600,
              "name": "csrftoken",
              "path": "/",
              "sameSite": "Lax",
              "value": "WcG9zLnemUWl6vHmjnw5jdXB07HKLuklX3SUeElRgUx7fU5RTB1gdyYzMIwVPJle"
            },
            {
              "expires": {},
              "maxAge": 1209600,
              "name": "sessionid",
              "path": "/",
              "secure": true,
              "value": "z16xqtbrxp4paf3xdjka70leuwe4gcpq"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, POST, HEAD, OPTIONS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 973,
      },
      {
        "_id": "da74344a30beb94e81610721b0f261d3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Api-Key x"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "environment",
              "value": "default"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "page_size",
              "value": "3"
            },
            {
              "name": "tag",
              "value": "not_a_real_tag_name"
            }
          ],
          "url": "https://api.staging.cloudtruth.io/api/v1/projects/c50db8d7-901f-429e-856b-ee50a08dc08d/parameters/?environment=default&page=1&page_size=3&tag=not_a_real_tag_name"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 83,
            "text": {
              "detail": "Tag `not_a_real_tag_name` could not be found in environment `default`."
            }
          },
            {
              "expires": {},
              "name": "AWSALBTGCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "7kQO53ahCdZv0MmfB6/n3399X5mP0TwEUBC2pkO4OcSci4SuBUXWhlx3GPqOXsXvueUkrZ2fl+WRIchI5U6yJTF5iV2HeHtJ0o3OZTIM5KU56i++om2FHYIZE5MIDfdjobzFg7ZRn6AOKQzb5MYWhOaK34BX/1NIsjIkDTRDEXhE"
            },
            {
              "expires": {},
              "maxAge": 31449600,
              "name": "csrftoken",
              "path": "/",
              "sameSite": "Lax",
              "value": "i2wuAmOA2f7J8o2AHuaClxoqBNa9qWPcThlzgTVg228e1o6nC8nQogHvQxktBK5X"
            },
            {
              "expires": {},
              "maxAge": 1209600,
              "name": "sessionid",
              "path": "/",
              "secure": true,
              "value": "e3y9dsbg2f1jffeem36kdprsl0d49jmb"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, POST, HEAD, OPTIONS"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 623,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
