{
  "log": {
    "_recordingName": "configure-action tests/fails properly with an unknown project id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "c848aaf3a4f713256fbfdb40e49ba79e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Api-Key x"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.staging.cloudtruth.io/api/v1/projects/39c58d99-ca5f-4802-8c2e-f3c060d57934/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 48,
            "text": {
              "detail": "No Project matches the given query."
            }
          },
            {
              "expires": {},
              "name": "AWSALBTGCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "+lWRlhFtXZd4gMPepTsdg0LiEHb1mR6CyrMrBQHa5KCcqm+yyXY23UV4WD3Js5FxENLSX8o9t2CHhGCX1QK6OTVNNTCLwtFi2qZJtxmZYds5vD64BkD6sqROms9NnMipo4LrjaJ6fXC23BiaBq5tvO7t8PBI+NQhQAuvvJLHMGPU"
            },
            {
              "expires": {},
              "maxAge": 31449600,
              "name": "csrftoken",
              "path": "/",
              "sameSite": "Lax",
              "value": "ofhxJGy7zMNoPoxIWlUY9ZWogRRMaCtKmpHu7CwHLeH5E1nDMx7sSassSPKZYUTn"
            },
            {
              "expires": {},
              "maxAge": 1209600,
              "name": "sessionid",
              "path": "/",
              "secure": true,
              "value": "bqs4jjkplrgtfl797zbsvkur8so9lkwm"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, PUT, PATCH, DELETE, HEAD, OPTIONS"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 870,
      },
      {
        "_id": "c848aaf3a4f713256fbfdb40e49ba79e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Api-Key x"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.staging.cloudtruth.io/api/v1/projects/39c58d99-ca5f-4802-8c2e-f3c060d57934/"
        },
        "response": {
          "content": {
            [...]
