{
  "log": {
    "_recordingName": "configure-action tests/fails properly with a bad token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "68e6413ddfbccd07945fae79ede833b4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Api-Key decafc0ffee"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "name",
              "value": "cloudtruth/configure-action"
            }
          ],
          "url": "https://api.staging.cloudtruth.io/api/v1/projects/?name=cloudtruth%2Fconfigure-action"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 50,
            "text": {
              "detail": "Incorrect authentication credentials."
            }
          },
            {
              "expires": {},
              "name": "AWSALBTGCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "/HXywgeezv2Vqbbn4ohJCCIs36Wy0krp2LlaBfEJM6Nvo4WOLkVSFro5yO55SJ2q6TF1FQIMa+mcxcvLMjta2SVpXygSdrcvj1G5VYqDvtiO4n6nnZjiXE2naHnek7ZoVXnsRpTxwqo/iH0LyHcgq9Bf/UOqmPwtrChUI0b9ddaj"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "www-authenticate",
              "value": "Api-Key realm=\"https://app.staging.cloudtruth.io\", type=\"Service Account\", Bearer realm=\"https://app.staging.cloudtruth.io\", type=\"Auth0 JWT\""
            },
            {
              "name": "allow",
              "value": "GET, POST, HEAD, OPTIONS"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 163,
      },
      {
        "_id": "68e6413ddfbccd07945fae79ede833b4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Api-Key decafc0ffee"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "name",
              "value": "cloudtruth/configure-action"
            }
          ],
          "url": "https://api.staging.cloud[...]
