{
  "log": {
    "_recordingName": "configure-action tests/prevents overwriting existing environment variables",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "68e6413ddfbccd07945fae79ede833b4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Api-Key x"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "name",
              "value": "cloudtruth/configure-action"
            }
          ],
          "url": "https://api.staging.cloudtruth.io/api/v1/projects/?name=cloudtruth%2Fconfigure-action"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 512,
            "text": {
              "count": 1,
              "next": null,
              "previous": null,
              "results": [
                {
                  "access_controlled": false,
                  "created_at": "2024-06-04T18:11:56.025576Z",
                  "dependents": [],
                  "depends_on": null,
                  "description": "",
                  "id": "c50db8d7-901f-429e-856b-ee50a08dc08d",
                  "ledger_id": "16335396-f6f8-4774-a9ac-70cd4b9a48eb",
                  "modified_at": "2024-06-04T18:11:56.043087Z",
                  "name": "cloudtruth/configure-action",
                  "parameter_name_pattern": "",
                  "push_urls": [],
                  "pushes": [],
                  "role": null,
                  "url": "https://api.staging.cloudtruth.io/api/v1/projects/c50db8d7-901f-429e-856b-ee50a08dc08d/"
                }
              ]
            }
          },
            {
              "expires": {},
              "name": "AWSALBTGCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "vY8zaGdWORQO84AYh3GrtCHlF0NGSQylYEgongDFr5vyjLm1Z93rYs8Wo4RFb6FgxGHD/nQNwNryCWLm6D2OdNK2gNQI4AqpTyLIYIYUe4x7+L/gSR8uR6tSShI5pq2mvX7zPF1Hrqk8YaJtzn94aZuqGkpQ3ltKpJSqK51YauOY"
            },
            {
              "expires": {},
              "maxAge": 31449600,
              "name": "csrftoken",
              "path": "/",
              "sameSite": "Lax",
              "value": "inTSEmNO0n8eHPr65cq8XgLWI50LPJiG8yL1l7PUX62xGtmIg5IEJ3bFccProMeZ"
            },
            {
              "expires": {},
              "maxAge": 1209600,
              "name": "sessionid",
              "path": "/",
              "secure": true,
              "value": "1uknbuvgzofem72kobroprn7ihynon31"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, POST, HEAD, OPTIONS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 813,
      },
      {
        "_id": "a0ef4e7e2961b92d601b4728ed5f24e4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Api-Key x"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "environment",
              "value": "default"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "page_size",
              "value": "3"
            }
          ],
          "url": "https://api.staging.cloudtruth.io/api/v1/projects/c50db8d7-901f-429e-856b-ee50a08dc08d/parameters/?environment=default&page=1&page_size=3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3649,
            "text": {
              "count": 1,
              "next": null,
              "previous": null,
              "results": [
                {
                  "created_at": "2024-06-05T20:12:52.092854Z",
                  "description": "",
                  "expiration_action": null,
                  "expired_status": null,
                  "expires": null,
                  "id": "9d2dbada-0e90-4fa5-a6f8-4c6d9fb74e49",
                  "ledger_id": "66f82427-0a89-424b-a0a7-94c795cb04c0",
                  "modified_at": "2024-06-05T20:12:52.114439Z",
                  "name": "CTTEST_TOTALLY_A_SECRET",
                  "overrides": null,
                  "project": "https://api.staging.cloudtruth.io/api/v1/projects/c50db8d7-901f-429e-856b-ee50a08dc08d/",
                  "project_name": "cloudtruth/configure-action",
                  "referencing_templates": [],
                  "referencing_values": [],
                  "rules": [],
                  "secret": true,
                  "templates": [],
                  "type": "string",
                  "url": "https://api.staging.cloudtruth.io/api/v1/projects/c50db8d7-901f-429e-856b-ee50a08dc08d/parameters/9d2dbada-0e90-4fa5-a6f8-4c6d9fb74e49/",
                  "values": {
                    "https://api.staging.cloudtruth.io/api/v1/environments/76ba4595-bb96-406c-b1d7-f633e89d9c7d/": {
                      "active_environment": "https://api.staging.cloudtruth.io/api/v1/environments/76ba4595-bb96-406c-b1d7-f633e89d9c7d/",
                      "active_environment_id": "76ba4595-bb96-406c-b1d7-f633e89d9c7d",
                      "active_environment_name": "default",
                      "created_at": "2024-06-05T20:13:01.294716Z",
                      "dynamic": false,
                      "dynamic_error": null,
                      "dynamic_filter": "",
                      "dynamic_fqn": "",
                      "environment": "https://api.staging.cloudtruth.io/api/v1/environments/76ba4595-bb96-406c-b1d7-f633e89d9c7d/",
                      "environment_id": "76ba4595-bb96-406c-b1d7-f633e89d9c7d",
                      "environment_name": "default",
                      "evaluated": false,
                      "expires_at": null,
                      "external": false,
                      "external_error": null,
                      "external_filter": "",
                      "external_fqn": "",
                      "external_status": null,
                      "id": "f2cdcbf0-5261-4d67-9834-0b842c4c873d",
                      "internal_value": null,
                      "interpolated": false,
                      "ledger_id": "8216f912-60f6-4ba1-8af7-9ac30e7df799",
                      "modified_at": "2024-06-05T20:13:01.455153Z",
                      "parameter": "https://api.staging.cloudtruth.io/api/v1/projects/c50db8d7-901f-429e-856b-ee50a08dc08d/parameters/9d2dbada-0e90-4fa5-a6f8-4c6d9fb74e49/",
                      "parameter_id": "9d2dbada-0e90-4fa5-a6f8-4c6d9fb74e49",
                      "referenced_parameters": [],
                      "referenced_projects": [],
                      "referenced_templates": [],
                      "secret": true,
                      "static_value": null,
                      "url": "https://api.staging.cloudtruth.io/api/v1/projects/c50db8d7-901f-429e-856b-ee50a08dc08d/parameters/9d2dbada-0e90-4fa5-a6f8-4c6d9fb74e49/values/f2cdcbf0-5261-4d67-9834-0b842c4c873d/",
                      "value": "totally_a_secret_default"
                    }
                  },
                  "values_flat": [
                    {
                      "active_environment": "https://api.staging.cloudtruth.io/api/v1/environments/76ba4595-bb96-406c-b1d7-f633e89d9c7d/",
                      "active_environment_id": "76ba4595-bb96-406c-b1d7-f633e89d9c7d",
                      "active_environment_name": "default",
                      "created_at": "2024-06-05T20:13:01.294716Z",
                      "dynamic": false,
                      "dynamic_error": null,
                      "dynamic_filter[...]
