{
  "log": {
    "_recordingName": "configure-action tests/warns if the project has no parameters",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "2979820c65a7e8789c141c8500a8abd0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Api-Key x"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "name",
              "value": "empty"
            }
          ],
          "url": "https://api.staging.cloudtruth.io/api/v1/projects/?name=empty"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 490,
            "text": {
              "count": 1,
              "next": null,
              "previous": null,
              "results": [
                {
                  "access_controlled": false,
                  "created_at": "2024-06-04T19:35:11.393192Z",
                  "dependents": [],
                  "depends_on": null,
                  "description": "",
                  "id": "60128a08-fbab-491e-b1fc-a0864b2b26f0",
                  "ledger_id": "fb56e9ed-d084-4a0a-b442-93ab2175a115",
                  "modified_at": "2024-06-04T19:35:11.411306Z",
                  "name": "empty",
                  "parameter_name_pattern": "",
                  "push_urls": [],
                  "pushes": [],
                  "role": null,
                  "url": "https://api.staging.cloudtruth.io/api/v1/projects/60128a08-fbab-491e-b1fc-a0864b2b26f0/"
                }
              ]
            }
          },
            {
              "expires": {},
              "name": "AWSALBTGCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "xrRvXTPZ9g9tAgUFOmHtXMDsWamZg6gYq0H5+YFaVDVYG91lVWK6vbqZPrnUzc8Mv4VrLyFpao3+QdNKYcUtTrTD3gN1/CH7Uctxc2LsXWk+/J8KLVqCDN8FBYqfzG1fDwkj/R14CosWFgvGRZuetjvJvy4SGb559/HfLBCXa/Dd"
            },
            {
              "expires": {},
              "maxAge": 31449600,
              "name": "csrftoken",
              "path": "/",
              "sameSite": "Lax",
              "value": "Iza7FQamEO1J8DzrR7ZyoEVnQ5yfbzBmk8Z0sExPtLKk1R8I9ft1mJE1japPR1Ox"
            },
            {
              "expires": {},
              "maxAge": 1209600,
              "name": "sessionid",
              "path": "/",
              "secure": true,
              "value": "xjmgohsldc9dr7i5lpaidhdf8751tbl6"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, POST, HEAD, OPTIONS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1039,
      },
      {
        "_id": "7d8fa440ee940bbbced61dcf654853ea",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Api-Key x"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "environment",
              "value": "default"
            },
            {
              "name": "page",
              "value": "1"
      [...]
