{
  "log": {
    "_recordingName": "configure-action tests/allows for ids instead of names",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "68e6413ddfbccd07945fae79ede833b4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Api-Key x"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "name",
              "value": "cloudtruth/configure-action"
            }
          ],
          "url": "https://api.staging.cloudtruth.io/api/v1/projects/?name=cloudtruth%2Fconfigure-action"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 512,
            "text": {
              "count": 1,
              "next": null,
              "previous": null,
              "results": [
                {
                  "access_controlled": false,
                  "created_at": "2024-06-04T18:11:56.025576Z",
                  "dependents": [],
                  "depends_on": null,
                  "description": "",
                  "id": "c50db8d7-901f-429e-856b-ee50a08dc08d",
                  "ledger_id": "16335396-f6f8-4774-a9ac-70cd4b9a48eb",
                  "modified_at": "2024-06-04T18:11:56.043087Z",
                  "name": "cloudtruth/configure-action",
                  "parameter_name_pattern": "",
                  "push_urls": [],
                  "pushes": [],
                  "role": null,
                  "url": "https://api.staging.cloudtruth.io/api/v1/projects/c50db8d7-901f-429e-856b-ee50a08dc08d/"
                }
              ]
            }
          },
            {
              "expires": {},
              "name": "AWSALBTGCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "jo4L/mnIDWgJLuX0RcfweCuqpQ3nWvRl9uAn4nZhIlteNFtKc1uuEB0+RKX2/0xqaBSCeia0M3L8Izkq7N/PCt6CIXaWhJZte5lrfJPg4jzGr08ukP3YfU+QXtfyj2QrJsrhKloikUpavXl0NojN5Ou7vlBuhCINxl6vHzJJnY80"
            },
            {
              "expires": {},
              "maxAge": 31449600,
              "name": "csrftoken",
              "path": "/",
              "sameSite": "Lax",
              "value": "FiMGubPG0LzRfos6x1knYSsk7gHWLiIGFgrVf2YnR6vLeMzWxDU4nheSOdcwB9Gl"
            },
            {
              "expires": {},
              "maxAge": 1209600,
              "name": "sessionid",
              "path": "/",
              "secure": true,
              "value": "03l5rz64qxw5h6io5m849rqcv269sk6a"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, POST, HEAD, OPTIONS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 984,
      },
      {
        "_id": "9012016adf397b2818dd231841c4f097",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Api-Key x"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "name",
              "value": "default"
            }
          ],
          "url": "https://api.staging.cloudtruth.io/api/v1/environments/?name=default"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1421,
            "text": {
              "count": 1,
              "next": null,
              "previous": null,
              "results": [
                {
                  "access_controlled": false,
                  "children": [
                    "https://api.staging.cloudtruth.io/api/v1/environments/2abccd45-3a3e-4efc-954a-51cd91294609/",
                    "https://api.staging.cloudtruth.io/api/v1/environments/2869aad0-be79-4cce-9a68-872d3d33e0c0/",
                    "https://api.staging.cloudtruth.io/api/v1/environments/81217225-17f8-4323-be49-a409ac3429a6/",
                    "https://api.staging.cloudtruth.io/api/v1/environments/3c95f57f-448a-46e5-8955-ec5d8773072c/",
                    "https://api.stag[...]
