{
  "log": {
    "_recordingName": "configure-action tests/fails properly with an unknown environment name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "68e6413ddfbccd07945fae79ede833b4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Api-Key x"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "name",
              "value": "cloudtruth/configure-action"
            }
          ],
          "url": "https://api.staging.cloudtruth.io/api/v1/projects/?name=cloudtruth%2Fconfigure-action"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 512,
            "text": {
              "count": 1,
              "next": null,
              "previous": null,
              "results": [
                {
                  "access_controlled": false,
                  "created_at": "2024-06-04T18:11:56.025576Z",
                  "dependents": [],
                  "depends_on": null,
                  "description": "",
                  "id": "c50db8d7-901f-429e-856b-ee50a08dc08d",
                  "ledger_id": "16335396-f6f8-4774-a9ac-70cd4b9a48eb",
                  "modified_at": "2024-06-04T18:11:56.043087Z",
                  "name": "cloudtruth/configure-action",
                  "parameter_name_pattern": "",
                  "push_urls": [],
                  "pushes": [],
                  "role": null,
                  "url": "https://api.staging.cloudtruth.io/api/v1/projects/c50db8d7-901f-429e-856b-ee50a08dc08d/"
                }
              ]
            }
          },
            {
              "expires": {},
              "name": "AWSALBTGCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "fv4728xFnm96cnKh3SFNIAF+hPYAVAjx/IICvHomKuc4SoiAjMw4N9tfxHHL4tE/getfpirMkJ3xJz2uScFJ4ePFGH40fQLcES1l6fNa1AKlUE/TqAUzG2vIyTkr9P4EWvUXOECWwetlhCi7Edk0fdszRBFceFRFWjB+f9Es/SsG"
            },
            {
              "expires": {},
              "maxAge": 31449600,
              "name": "csrftoken",
              "path": "/",
              "sameSite": "Lax",
              "value": "fUcxCiscATBvbPFQQT83opnI19TLmwvfIvmoxLamXS1Fvi1ho1zZOK4c3L604pvr"
            },
            {
              "expires": {},
              "maxAge": 1209600,
              "name": "sessionid",
              "path": "/",
              "secure": true,
              "value": "ji3um3f2dj9qr1yimtcsuzu0jjna3icd"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, POST, HEAD, OPTIONS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 884,
      },
      {
        "_id": "a7834d46ff9d5d6900f5380be8b490f9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Api-Key x"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "environment",
              "value": "no_such_environment"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "page_size",
              "value": "3"
            }
          ],
          "url": "https://api.staging.cloudtruth.io/api/v1/projects/c50db8d7-901f-429e-856b-ee50a08dc08d/parameters/?environment=no_such_environment&page=1&page_size=3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 58,
            "text": {
              "detail": "Environment(s) not found: no_such_environment"
            }
          },
            {
              "expires": {},
              "name": "AWSALBTGCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "kzF23x1cwmOwporjXepqGR5LEmIRLnnzNoLoThy5SijDzyq/wGLjpGVreRr9XtCL6Wux3TX1CqeBrROGgmwiITq/RzUqMXVFzhrJerqKkGG6im3iEzuiAr7+acJSx4zGUwsvoqb9E9SstKi4UhCKF2siRCkYFUwktdyrCunQ8Yxz"
            },
            {
              "expires": {},
              "maxAge": 31449600,
              "name": "csrftoken",
              "path": "/",
              "sameSite": "Lax",
              "value": "qXys06d72Oh2YEbBkadWoK5UIsnpRMSWYB0QCWsGQ8REHITkT24Tt3dvwbqQTpPe"
            },
            {
              "expires": {},
              "maxAge": 1209600,
              "name": "sessionid",
              "path": "/",
              "secure": true,
              "value": "g6wm64hzll2nhdl36ud5yx3iyte4o8t0"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, POST, HEAD, OPTIONS"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 637,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
