{
  "log": {
    "_recordingName": "configure-action tests/fails properly with an unknown project name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "69fddae507ae8ab7e45c675923551d57",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Api-Key x"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "name",
              "value": "not_a_real_project_name"
            }
          ],
          "url": "https://api.staging.cloudtruth.io/api/v1/projects/?name=not_a_real_project_name"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 52,
            "text": {
              "count": 0,
              "next": null,
              "previous": null,
              "results": []
            }
          },
            {
              "expires": {},
              "name": "AWSALBTGCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "Z4wO3T7FapcwJXx0SHMYI6rKpUr7cBQrpFAjZF3AEESX40WmTJLmi4Rpe3i9kBFUtua+nvhOCZ2wJxj4F6mk5Ra8ux5FF+Zubq5sxLAKunXSNbudng+yjZTq2jdtvhGfy/u45rZii42g1Vep61FmHhruClWVtrf4pXTY92JGh7ET"
            },
            {
              "expires": {},
              "maxAge": 31449600,
              "name": "csrftoken",
              "path": "/",
              "sameSite": "Lax",
              "value": "wgr5VfbJKRzJqJLBJdC8z3PZfwdAAf79akfmNJxemEdiHi5lxXKREcE61rzEIy6n"
            },
            {
              "expires": {},
              "maxAge": 1209600,
              "name": "sessionid",
              "path": "/",
              "secure": true,
              "value": "gbslm7iu6nakxhvwzyweysbs4lgxf9dz"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, POST, HEAD, OPTIONS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1397,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
