{
  "log": {
    "_recordingName": "configure-action tests/configures the override environment using a tag",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "68e6413ddfbccd07945fae79ede833b4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Api-Key x"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "name",
              "value": "cloudtruth/configure-action"
            }
          ],
          "url": "https://api.staging.cloudtruth.io/api/v1/projects/?name=cloudtruth%2Fconfigure-action"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 512,
            "text": {
              "count": 1,
              "next": null,
              "previous": null,
              "results": [
                {
                  "access_controlled": false,
                  "created_at": "2024-06-04T18:11:56.025576Z",
                  "dependents": [],
                  "depends_on": null,
                  "description": "",
                  "id": "c50db8d7-901f-429e-856b-ee50a08dc08d",
                  "ledger_id": "16335396-f6f8-4774-a9ac-70cd4b9a48eb",
                  "modified_at": "2024-06-04T18:11:56.043087Z",
                  "name": "cloudtruth/configure-action",
                  "parameter_name_pattern": "",
                  "push_urls": [],
                  "pushes": [],
                  "role": null,
                  "url": "https://api.staging.cloudtruth.io/api/v1/projects/c50db8d7-901f-429e-856b-ee50a08dc08d/"
                }
              ]
            }
          },
            {
              "expires": {},
              "name": "AWSALBTGCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "V1lHw3qDhbrwW5RJznQgK3trXpeNZxNknOOAFE/QNmOqOSBuEOBUOmanFzEsb5KOgab9ur3AuacHfGx3iGz61eD79Ue6AdtXWaarSM951SO+dRVWoyYN/3vLrvtOGgCbkDMWp5AxAQC7oWjwKuzVhRvVwHBWWejBQkXgeUHPsekt"
            },
            {
              "expires": {},
              "maxAge": 31449600,
              "name": "csrftoken",
              "path": "/",
              "sameSite": "Lax",
              "value": "KOI8192ocZPrdNAOLb6HwH43WxdDAFw6WySj7YtsuHSwrEdFC5II8eCTPbGa5W5a"
            },
            {
              "expires": {},
              "maxAge": 1209600,
              "name": "sessionid",
              "path": "/",
              "secure": true,
              "value": "i4yz9cawbm7q5zpuok9ts8y7gazbe2oq"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, POST, HEAD, OPTIONS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 794,
      },
      {
        "_id": "d3f77c8107712d4f07e9291d28804b61",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Api-Key x"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "environment",
              "value": "staging"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "page_size",
              "value": "3"
            },
            {
              "name": "tag",
              "value": "tag-one"
            }
          ],
          "url": "https://api.staging.cloudtruth.io/api/v1/projects/c50db8d7-901f-429e-856b-ee50a08dc08d/parameters/?environment=staging&page=1&page_size=3&tag=tag-one"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 71,
            "text": {
              "detail": "Tag `tag-one` could not be found in environment `staging`."
            }
          },
            {
              "expires": {},
              "name": "AWSALBTGCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "auMka34MaEQSs5Rc/aeSfGKUkkYg0BfWQxnsH0osLu3tCZUxgZam1dbP60rxA/brLlgR7hlFdb7R8Ccq0RZr1YNj3osScizXjZys32YonUjhpFJ+Lx21yjB5+AmrVTcrSSaTZoG/ZJE6Go3pWz+cSJOawxmmGu3qi+/mVVSlZmS1"
            },
            {
              "expires": {},
              "maxAge": 31449600,
              "name": "csrftoken",
              "path": "/",
              "sameSite": "Lax",
              "value": "B2AWzN1fZwnTpA083nM2mL0EV03tIDbRF4HgwmZZQ9Z7cdKeicHs5mVZpw1zrdGB"
            },
            {
              "expires": {},
              "maxAge": 1209600,
              "name": "sessionid",
              "path": "/",
              "secure": true,
              "value": "a3zhn6qpu9kvx00ctlbotw6y7j4h5ffg"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, POST, HEAD, OPTIONS"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 601,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
