{
  "log": {
    "_recordingName": "configure-action tests/fails properly with an unknown environment id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "68e6413ddfbccd07945fae79ede833b4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Api-Key x"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "name",
              "value": "cloudtruth/configure-action"
            }
          ],
          "url": "https://api.staging.cloudtruth.io/api/v1/projects/?name=cloudtruth%2Fconfigure-action"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 512,
            "text": {
              "count": 1,
              "next": null,
              "previous": null,
              "results": [
                {
                  "access_controlled": false,
                  "created_at": "2024-06-04T18:11:56.025576Z",
                  "dependents": [],
                  "depends_on": null,
                  "description": "",
                  "id": "c50db8d7-901f-429e-856b-ee50a08dc08d",
                  "ledger_id": "16335396-f6f8-4774-a9ac-70cd4b9a48eb",
                  "modified_at": "2024-06-04T18:11:56.043087Z",
                  "name": "cloudtruth/configure-action",
                  "parameter_name_pattern": "",
                  "push_urls": [],
                  "pushes": [],
                  "role": null,
                  "url": "https://api.staging.cloudtruth.io/api/v1/projects/c50db8d7-901f-429e-856b-ee50a08dc08d/"
                }
              ]
            }
          },
            {
              "expires": {},
              "name": "AWSALBTGCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "FBVFOZGwlqzFonmUuOq1WR+BdEr1fbr/vt6TAJ7e7IwlDqth/w0kn/TspYZMeKBDMvxgQHB3XvehPULoiNA21/05LowtYrBM/EwIxNgkPZgWVexmOjCCaYCY3+45CR6IUWtkyY0jSvpXFbiQ4Sw29bcvyqYMPs0njavozP6pSs5W"
            },
            {
              "expires": {},
              "maxAge": 31449600,
              "name": "csrftoken",
              "path": "/",
              "sameSite": "Lax",
              "value": "DcDNzLaLhgUFMymWKd8D51bP1PkuMi3dbVDkQX1nPWjZvtZGquUpe0VWSCx8CLsA"
            },
            {
              "expires": {},
              "maxAge": 1209600,
              "name": "sessionid",
              "path": "/",
              "secure": true,
              "value": "9mbvtni8vit69jqwdvvoye8eziz0woyc"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, POST, HEAD, OPTIONS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 875,
      },
      {
        "_id": "f24002a43f103ee4c43c69c51d7528f7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Api-Key x"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "environment",
              "value": "39c58d99-ca5f-4802-8c2e-f3c060d57934"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "page_size",
              "value": "3"
            }
          ],
          "url": "https://api.staging.cloudtruth.io/api/v1/projects/c50db8d7-901f-429e-856b-ee50a08dc08d/parameters/?environment=39c58d99-ca5f-4802-8c2e-f3c060d57934&page=1&page_size=3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 75,
            "text": {
              "detail": "Environment(s) not found: 39c58d99-ca5f-4802-8c2e-f3c060d57934"
            }
          },
            {
              "expires": {},
              "name": "AWSALBTGCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "//1EWv/f24/r+S+z79BPupNgWP6qtOOpavn186v2K0hl2XjGFUXt4CbI2zL6KtMEEU4sQ++M+kERTghY+hF+t/qzqrM0ydjiZBtES8Enn0sMkMkdX7VAZaOA11JE2ameariJvZj7Ompmp0TTpnbz06ud2MDzhWZwZZlKVxnA2xFz"
            },
            {
              "expires": {},
              "maxAge": 31449600,
              "name": "csrftoken",
              "path": "/",
              "sameSite": "Lax",
              "value": "yNkQMjUiT1ZwDLvZQeEEgVCDNRjDDPN5hPKQ9YrjHpWTqrjGrl8s6zUlBJE2Vh0V"
            },
            {
              "expires": {},
              "maxAge": 1209600,
              "name": "sessionid",
              "path": "/",
              "secure": true,
              "value": "rz0cildv2m4s3y8jeanqv3x2ycaubl6h"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, POST, HEAD, OPTIONS"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 828,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
